{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <div class="top">
        <div class="container">
            <div class="row">
                <article class="span6">

                    {{widget('content', 'content', {content: '<ul class="top-list"><li><a href="#">Member Area</a></li><li><a href="#">sitemap</a></li><li class="help"><a href="#">live help</a></li></ul>', lines: 'all'})|raw}}

                </article>
                <article class="span6">

                    {{widget('profile', 'companydescription', { 'profileType':'companydescription', 'companydescription':'design... architecture... construction...'})|raw}}
                    
                </article>
            </div>
        </div>
    </div>

    <!--header-->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <article class="span5">

                        {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                        {{widget('space', 'space', {'height': '20'})|raw}}

                    </article>
                    <article class="span7">

                        {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
                        {{widget('space', 'space', {'height': '20'})|raw}}
                        
                    </article>
                </div> 
            </div>
        </div>
    </header>

    <div class="global">

        <!--content-->

        <div class="container">
            <div class="row">
                <article class="span12">

                    {{zone('main')|raw}}                    
                    {{widget('space', 'space', {'height': '30'})|raw}}

                    <div class="row">
                        <article class="span4">

                            {{widget('content', 'title1', {content: '<h2>Our advantages</h2>', lines: 'all'})|raw}}

                            <ul class="posts">
                                <li>
                                    {{widget('content', 'drop1', {content: '<span class="drop">1.</span>', lines: 'all'})|raw}}
                                    <div class="overflow">
                                        {{widget('content', 'postsubtitle1', {content: '<h3>Sed at nulla sit amet risus tempus luctus</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'postcontent1', {content: '<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>', lines: 'all'})|raw}}
                                    </div>
                                </li>
                                <li>
                                    {{widget('content', 'drop1', {content: '<span class="drop">2.</span>', lines: 'all'})|raw}}
                                    <div class="overflow">
                                        {{widget('content', 'postsubtitle1', {content: '<h3>Proin laoreet quam nec arcu pellentesque</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'postcontent1', {content: '<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuer e cubilia Curae; Nulla a justo augue, id ullamcorper orci? In luctus eros fringilla tellus consequat dictum. Nullam adipiscing, justo sit amet hendrerit vulputate, felis justo tristique dolor, eu tristique nisi risus in lectus. Nam congue arcu sed nulla.</p>', lines: 'all'})|raw}}
                                    </div>
                                </li>
                                <li>
                                    {{widget('content', 'drop1', {content: '<span class="drop">3.</span>', lines: 'all'})|raw}}
                                    <div class="overflow">
                                        {{widget('content', 'postsubtitle1', {content: '<h3>Donec nec magna eget est placerat</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'postcontent1', {content: '<p>In luctus eros fringilla tellus consequat dictum. Nullam adipiscing, justo sit amet hendrerit vulputate, felis justo tristique dolor, eu tristique nisi risus in lectus. Nam congue arcu sed nulla congue eleifend condimentum augue pulvinar. Ut laoreet nunc ante. Donec vitae neque et sem elementum pulvinar varius vel eros.</p>', lines: 'all'})|raw}}
                                    </div>
                                </li>
                            </ul>

                            {{widget('space', 'space', {'height': '30'})|raw}}

                            {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}

                            {{widget('content', 'title3', {content: '<h2>Testimonials</h2>', lines: 'all'})|raw}}

                            {{widget('content', 'monialcontent', {content: '<ul class="posts"><li><blockquote>In luctus eros fringilla tellus consequat dictum. Nullam adipiscing, justo sit amet hendrerit vulputate, felis justo tristique dolor, eu tristique nisi risus in lectus. Nam congue arcu sed nulla congue eleifend condimentum augue vitae dolor. Cras vitae urna sed lacus volutpat volutpat. Nullam in orci non elit fringilla euismod. Suspendisse quam erat, mattis ut commodo eget.<h4>John McCoist</h4></blockquote></li><li><blockquote>In luctus eros fringilla tellus consequat dictum. Nullam adipiscing, justo sit amet hendrerit vulputate, felis justo tristique dolor, eu tristique nisi risus in lectus. Nam congue arcu sed nulla congue eleifend condimentum augue vitae dolor. Cras vitae urna sed lacus volutpat volutpat. Nullam in orci non elit fringilla euismod. Suspendisse quam erat, mattis ut commodo eget.<h4>John McCoist</h4></blockquote></li></ul>', lines: 'all'})|raw}}

                            {{widget('space', 'space', {'height': '50'})|raw}}

                        </article>
                        <article class="span8">

                            {{widget('content', 'title2', {content: '<h2>A few words about us</h2>', lines: 'all'})|raw}}
                            {{widget('content', 'content', {content: '<h3>Donec vitae neque et sem elementum pulvinar varius vel eros</h3>', lines: 'all'})|raw}}
                            {{widget('content', 'content', {content: '<p>Proin laoreet quam nec arcu pellentesque consequat. Pellentesque convallis nunc eu odio lacinia sed posuere purus commodo. Donec pretium ullamcorper posuere. Cras vestibulum fermentum condimentum? Donec nec magna eget est placerat ornare. Quisque adipiscing urna nec metus mollis ac rutrum nibh mollis? Aenean a iaculis odio. Phasellus non ipsum non purus aliquet consequat? Suspendisse rutrum, justo nec fermentum commodo, leo orci auctor enim; et pretium purus quam eu nisl. Nulla facilisi. Integer convallis erat dui. Proin vitae mauris in mauris tempus vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at nulla sit amet risus tempus luctus. Praesent eleifend arcu non risus dapibus aliquam.Sed ut augue sed erat ultrices sollicitudin vel eget orci. Curabitur sit amet felis nulla, eu sollicitudin erat! Vestibulum euismod nibh at purus adipiscing tincidunt. In et lectus sed lectus sollicitudin mattis.</p>', lines: 'all'})|raw}}
                            {{widget('button', 'button', {italic: false, text:'learn more', 'align':'widget-align-left'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                            {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                            {{widget('content', 'title4', {content: '<h2>Work team</h2>', lines: 'all'})|raw}}

                            {{widget('responsivecolumns', 'responsivecolumns', {})|raw}}

                        </article>
                    </div>

                </article>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <section class="span12">

                    {{widget('companyname', 'companyname', {"business": "General Contractor"})|raw}}
                    {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'&copy Copyright 2013. All rights reserved'})|raw}}
                    {{widget('space', 'space', {'height': '20'})|raw}}
                    
                </section>
            </div>
        </div>
    </footer>

</div>

{% endblock %}