{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <div class="top">
        <div class="container">
            <div class="row">
                <article class="span6">

                    {{widget('content', 'content', {content: '<ul class="top-list"><li><a href="#">Member Area</a></li><li><a href="#">sitemap</a></li><li class="help"><a href="#">live help</a></li></ul>', lines: 'all'})|raw}}

                </article>
                <article class="span6">

                    {{widget('profile', 'companydescription', { 'profileType':'companydescription', 'companydescription':'design... architecture... construction...'})|raw}}
                    
                </article>
            </div>
        </div>
    </div>

    <!--header-->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <article class="span5">

                        {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                        {{widget('space', 'space', {'height': '20'})|raw}}

                    </article>
                    <article class="span7">

                        {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
                        {{widget('space', 'space', {'height': '20'})|raw}}
                        
                    </article>
                </div> 
            </div>
        </div>
    </header>

    <div class="global">

        <!--content-->

        <div class="container">
            <div class="row">
                <section class="span12">

                    {{widget('space', 'space', {'height': '30'})|raw}}
            
                    {{widget('map', 'map', {'height': '380', 'zoom': '15', 'address': 'profile'})|raw}}

                    {{widget('space', 'space', {'height': '30'})|raw}}

                    <div class="row">

                        <article class="span4">
                            
                            {{widget('content', 'title1', {content: '<h2>Postal address</h2>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<h3>Address 1:</h3>', lines: 'all'})|raw}}
                            {{widget('profile', 'address1', { 'profileType':'address', 'address':'8901 Marmora Road, Glasgow, D04 89GR.'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                            {{widget('content', 'title3', {content: '<h3>Telephones:</h3>', lines: 'all'})|raw}}
                            {{widget('profile', 'phone1', { 'profileType':'phone', 'phone':'+1 800 559 6580'})|raw}}
                            {{widget('profile', 'phone2', { 'profileType':'phone', 'phone':'+1 959 603 6035'})|raw}}
                            {{widget('profile', 'phone3', { 'profileType':'phone', 'phone':'+1 504 889 9898'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                            {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                            {{widget('content', 'title4', {content: '<h3>Address 2:</h3>', lines: 'all'})|raw}}
                            {{widget('profile', 'address2', { 'profileType':'address', 'address':'9867 Mill Road, Cambridge, MG09 99HT.'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}
                            
                        </article>

                        <article class="span8">
                            
                            {{widget('content', 'title5', {content: '<h2>Contact form</h2>', lines: 'all'})|raw}}

                            {{zone('main')|raw}}

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <section class="span12">

                    {{widget('companyname', 'companyname', {"business": "General Contractor"})|raw}}
                    {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'&copy Copyright 2013. All rights reserved'})|raw}}
                    {{widget('space', 'space', {'height': '20'})|raw}}
                    
                </section>
            </div>
        </div>
    </footer>
    
</div>

{% endblock %}